<script>
var ADAPT_CONFIG = {
    path: "../css/",
    dynamic: true,
    range: [
        "0 to 450 = thin.css",
        "450 = wide.css"
    ]
};
</script>
<script src="../js/adapt.min.js"></script>

<link href="../css/story.css" rel="stylesheet" />

<div id="breadcrumb" class="highlight">
    <a href="#">HOME</a>
    <% for (var i in categories_name) { %>
        &gt;
        <a href="#"><%= categories_name[i].toUpperCase() %></a>
    <% } %>
</div>
<div id="title">
    <h2><%= title %></h2>
    <div>
        <div>
            Updated: <%= new Date(updated).toString() %>
            |
            Posted: <%= new Date(pub_date).toString() %>
        </div>
    </div>
</div>
<div id="options" class="highlight">
    COMMENT
    SHARE
    FAVORITE
    VOTE
</div>
<div id="photo">
    <div id="graphic">
        <img src="<%= lead_photo_image_url %>" alt="" />
        <span><%= lead_photo_credit %></span>
    </div>
    <div id="caption"><%= lead_photo_caption %></div>
</div>
<div id="report">
    <div id="credit">
        By
        <% for (var i = 0; i < author.length; i += 1) { %>
            <% if (i != 0) { %>
                <%= ", " %>
            <% } %>
            <a href="#"><%= author[i] %></a>
        <% } %>
    </div>
    <div id="story">
        <%= story %>
    </div>
</div>